/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: October 28, 2022
   Description: CSS Stylesheet for Library project.
******************************************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

header {
  background-color: rgb(83, 201, 201);
}

h1{
  text-align: center;
}

.add-book-div {
  text-align: center;
  margin-top: 20px;
}

button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  width: 100px;
  height: 30px;
}

button:hover {
  background-color: #76AEED;
}

button:active {
  background-color: #407FC7;
}

.content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.book-info {
  display: grid;
  justify-self: center;
  width: 250px;
  grid-template-rows: 60px 1fr 1fr 1fr;
  gap: 10px;  
  border: 1px solid none;
  border-radius: 5px;
  border-left: 10px solid rgb(83, 201, 201);
  background-color: white;

  
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.author-name,
.number-of-pages,
.is-book-read {
  padding-left: 15px;
}
.card-border {
  height: 1px;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
}

.card-button {
  justify-self: center;
  align-self: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 25px;
  background-color: rgb(83, 201, 201);
}

.footer-text {
  font-size: 20px;
  text-align: center;
}