/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: October 28, 2022
   Description: CSS Stylesheet for Library project.
******************************************************************************/