/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: October 28, 2022
   Description: CSS Stylesheet for Library project.
******************************************************************************/
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(83, 201, 201);
}

h1{
  text-align: center;
}

main {
  background-color: lightgray;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.book-info {
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr;
  gap: 10px;  
  border: 1px solid black;
}

.card-border {
  height: 1px;

}