/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: October 28, 2022
   Description: CSS Stylesheet for Library project.
******************************************************************************/
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: lightgray;
}

.main-content-area {
  min-height: 100%;
}

main {
  overflow: auto;
  padding-bottom: 50px;
}

header {
  background-color: rgb(83, 201, 201);
  height: 100px;
}

h1{
  text-align: center;
}

.add-book-div {
  text-align: center;
  margin-top: 20px;
}

/* Contains form for adding a book. */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 5px;

  /* Need this for close button. */
  position: relative;
}

/* Close button in modal form. */
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
}

button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  width: 100px;
  height: 30px;
}

button:hover {
  background-color: #76AEED;
}

button:active {
  background-color: #407FC7;
}

.content {
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.book-info {
  display: grid;
  justify-self: center;
  width: 250px;
  grid-template-rows: 80px 1fr 1fr 1fr;
  gap: 10px;  
  border: 1px solid none;
  border-radius: 5px;
  border-left: 10px solid rgb(83, 201, 201);
  background-color: white;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.author-name,
.number-of-pages,
.is-book-read {
  padding-left: 15px;
}
.card-border {
  height: 1px;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
}

.card-button {
  justify-self: center;
  align-self: center;
}

footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: rgb(83, 201, 201);
}

.footer-text {
  font-size: 20px;
  text-align: center;
}